*.tar.gz
*.sh
*.pyc
=======
# Idea project files
*.iml
*.ipr
*.iws
.idea/

# Python files
*.pyc

Vagrantfile
.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml

berks/
*.tar.gz
*.yml.bak
