<install app-name="CRS" >
 <deployment-path><%= node[:endeca][:apps_dir] %></deployment-path>
 <base-module type="dgraph" />
 <options>
 <option name="eac-port">8888</option>
 <option name="workbench-port">8006</option>
 <option name="dgraph1Port">15000</option>
 <option name="authoringDgraphPort">15002</option>
 <option name="logserverPort">15010</option>
 <option name="casHost">localhost</option>
 <option name="casPort">8500</option>
 <option name="casRoot"><%= node[:endeca][:installation_dir] %>/endeca/CAS/3.1.2.1</option>
 <option name="casJarVersion">3.1.2.1</option>
 <option name="languageId">en</option>
 <option name="host">localhost</option>
 <option name="previewHost">localhost</option>
 <option name="previewPort">8080</option>
 <option name="previewContextRoot">crs</option>
 </options>
</install>